@media screen and (max-width: 1320px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .booking__form{
        width: calc(100% -  40px);
        left: 20px;
    }
    .gallery__item{
        width: calc(100%/2 - 10px);
        border-radius: 30px;
        overflow: hidden;
    }
    .gallery__item img{
        height: 400px;
        object-fit: cover;
        border-radius: 30px;
    }
}
@media screen and (max-width: 1240px){
    .room__left{
        max-width: 550px;
    }
    .room__right{
        width: calc(100% - 592px);
    }
    .request__left{
        max-width: 650px;
    }
    .request__right{
        width: calc(100% - 650px);
    }
    .terrace__center img{
        height: 100%;
        object-fit: cover;
    }
    .holiday__item:first-child:after{
        background-size: 50%;
    }
    .holiday__item:nth-child(2):after{
        background-size: 50%;
    }
    .holiday__item:nth-child(3):after{
        background-size: 50%;
    }
    .holiday__item:last-child:after{
        background-size: 50%;
    }
    .gallery__left{
        width: calc(100% - 570px);
    }
    .gallery__right {
        max-width: 550px;
    }
    .request__right h2{
        font-size: 38px;
    }
    .review__list .swiper-slide:not(.swiper-slide-active){
        opacity: 1;
    }
    .review__list .swiper-slide{

    }
}
@media screen and (max-width: 1100px){
    .request__left {
        max-width: 550px;
    }
    .request__right{
        width: calc(100% - 550px);
        padding-right: 30px;
    }
    .prepare__left {
        max-width: 550px;
    }
    .prepare__right {
        width: calc(100% - 592px);
    }
    .room__left {
        max-width: 450px;
    }
    .room__right {
        width: calc(100% - 492px);
    }
    .features__item{
        width: calc(100%/2 - 10px);
        background-size: 100%;
    }
    .features__list{
        flex-wrap: wrap;
    }
    .feature__img{
        text-align: center;
    }
    .holiday__item:last-child:after {
        background-size: 40%;
    }
    .additional{
        background-size: 45%;
    }
    footer .header__phone{
        white-space: nowrap;
    }

}
@media screen and (max-width: 1024px){
    .banner{
        height: 100vh;
    }
    .form__col{
        width: calc(100%/2 - 20px);
    }
    .form{
        flex-wrap: wrap;
    }
    .btn__submit{
        width: calc(100%/2 - 20px);
    }
    .section__title{
        font-size: 32px;
    }
    .room__title{
        font-size: 32px;
    }
    .room__right .btn{
        width: 100%;
    }
    .request__left {
        max-width: 450px;
    }
    .request__right {
        width: calc(100% - 450px);
    }
    .terrace__content{
        flex-direction: column;
    }
    .terrace__left{
        max-width: 100%;
    }
    .terrace__center{
        max-width: 100%;
    }
    .terrace__center img{
        width: 100%;
    }
    .terrace__right{
        max-width: 100%;
    }
    .prepare__content{
        flex-direction: column;
    }
    .prepare__left{
        margin: 0 auto;
    }
    .prepare__right{
        width: 100%;
    }
    .comfort__list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .comfort__item{
        width: calc(100%/2 - 10px);
    }
    .review__list .swiper-slide {
        width: 100%!important;
    }
    .review__list{
        padding-left: 20px;
        padding-right: 20px;
    }
    .gallery__content{
        flex-direction: column-reverse;
    }
    .gallery__right{
        max-width: 100%;
    }
    .gallery__item img {
        width: 100%;
        height: 100%;
    }
    .gallery__left{
        width: 100%;
    }
    .gallery__item:nth-child(3){
        margin-top: 0;
    }
    .gallery__item:nth-child(2) {
        margin-top: 0;
    }
    footer .container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer__left .menu{
        justify-content: center;
    }
   footer .header__link{
        text-align: center;
    }
}
@media screen and (max-width: 900px){
    .banner__title{
        font-size: 50px;
    }
    .banner__sub{
        font-size: 24px;
    }
    .banner__text{
        font-size: 16px;
    }
    .room__content{
        flex-direction: column;
    }
    .room__left{
        max-width: 100%;
    }
    .room__left img{
        width: 100%;
        object-fit: cover;
    }
    .room__title{
        padding-top: 0;
    }
    .room__right{
        width: 100%;
    }
    .request__content{
        flex-direction: column;
    }
    .request__left{
        max-width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .request__left img{
        position: relative;
        width: 350px;
    }
    .request{
        background: none;
        height: auto;
    }
    .request__content{
        height: auto;
    }
    .request__right {
        background: url('../images/req-bg.png') no-repeat;
        width: 100%;
        padding:50px 20px 50px;
    }
    .holiday__item{
        width: 100%;
    }
    .request--second .request__right{
        background: url("../images/req-bg2.png") no-repeat;
        background-size: 100% 100%;
    }
    .request--third .request__right{
        background: url("../images/req-bg3.png") no-repeat;
        background-size: 100% 100%;
    }
    .request--forth .request__right{
        background: url("../images/req-bg4.png") no-repeat;
        background-size: 100% 100%;
    }
    .request--third .request__content{
        height: auto;
    }
    .request--forth .request__content {
        height: auto;
    }
    .footer__left p{
        justify-content: center;
        text-align: center;
        gap: 0;
        align-items: flex-start;
        padding-left: 20px;
    }
    .prepare__right{
        padding-top: 0;
    }

}
@media screen and (max-width: 768px){
    .section__title{
        text-align: center;
    }
    .menu__link{
        font-size: 15px;
    }
    header .header__phone{
        font-size: 16px;
    }
    header .header__link{
        font-size: 12px;
    }
    .banner__title {
        font-size: 40px;
    }
    .banner__sub {
        font-size: 20px;
    }
    .btn__menu{
        display: flex;
        height: 20px;
        width: 20px;
        background: transparent;
        min-width: unset;
    }
    header .menu{
        display: none;
    }
    header .menu.active{
        display: flex;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 9999;
        background: #5e6b4f;
        flex-direction: column;
        top: 84px;
        padding-bottom: 30px;
        transition: all .3s;
    }

}
@media screen and (max-width: 600px){
    .comfort__item{
        width: 100%;
    }
    .walk__price{
        flex-direction: column;
    }
    .walk__item:last-child{
        margin-top: 0;
    }
    .walk__item{
        max-width: 100%;
    }
    .form__col{
        width: 100%;
    }
    .btn__submit{
        width: 100%;
    }
    .room{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .terrace{
        padding-top: 80px;
    }
    .holiday{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .prepare{
        padding-top: 80px;

    }
    .additional{
        padding-right: 0;
    }
    .additional__content h3{
        font-size: 28px;
    }
    .additional__content{
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .walks{
        padding-top: 80px;
    }
    .request--third{
        margin-top: 80px;
    }
    .comfort{
        padding-top: 80px;
    }
    .reviews{
        padding-top: 80px;
    }
    .gallery{
        padding-top: 80px;
    }
    .map{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media screen and (max-width: 480px){
    .banner__title {
        font-size: 28px;
    }

    .banner__sub {
        font-size: 18px;
    }
    .banner__text{
        flex-direction: column;
    }
    .banner__text span{
        display: none;
    }
    .booking__form{
        padding-left: 20px;
        padding-right: 20px;
    }
    .section__title {
        font-size: 24px;
    }
    .features__item{
        width: 100%;
    }
    .room__title {
        font-size: 24px;
    }
    .request__right h2 {
        font-size: 24px;
    }
    .request__right p, .gallery__info p{
        font-size: 16px;
    }
    .request__right li, .prepare__right li{
        font-size: 16px;
    }
    .holiday__item:first-child:after {
        background-size: 40%;
    }
    .holiday__item:nth-child(2):after {
        background-size: 40%;
    }
    .holiday__item:nth-child(3):after {
        background-size: 40%;
    }
    .prepare__right h3{
        font-size: 28px;
    }
    .prepare__right .btn{
        width: 100%;
    }
    .request__right{
        padding-right: 20px;
    }
    .request--third .request__right{
        padding-right: 20px;
    }
    .request__form{
        max-width: 100%;
    }
    .request__form .btn{
        width: 100% !important;
    }
    .comfort__item p{
        font-size: 17px;
    }
    .review__images img{
        width: calc(100%/5 - 5px);
    }
    .review__item p{
        font-size: 16px;
    }
    .gallery__info h3{
        font-size: 24px;
    }
    .footer__left p{
        font-size: 16px;
    }
    .footer__left .menu{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
    footer .header__phone{
        font-size: 20px;
    }
    .section__title span{
        width: 20px;
    }
    .room__price{
        font-size: 18px;
    }
    .room__info p{
        font-size: 16px;
    }
    .terrace__item:after{
        right: -10px;
        top: -10px;
    }
    .holiday__item{
        padding: 30px;
    }
    .terrace__right .terrace__item:after{
        left: -10px;
        top: -10px;
    }
}